<h1><%= application.name %></h1>

<ul>
    <li>
        Sub: <%= application.sub %>
    </li>
    <li>
        Dom: <%= application.dom %>
    </li>
    <li>
        Likes: <%= application.question1 %>
    </li>
    
    <li>
        Limits: <%= application.question2 %>
    </li>
    <li>
        Payment freq: <%= application.question3 %>
    </li>
    <li>
        Payment ammount: <%= application.question4 %>
    </li>
    <li>
        Payment details: <%= application.question5 %>
    </li>
    <li>
        Contact information: <%= application.question6 %>
    </li>
</ul>

<a href="/applications">View all applications</a>